body {
		background-color:black;
		padding:100px;
		}
			p {
			color:white; font-family:"arial", sans-serif;
			}
			h1 {
			color:white; color:white; font-family:"arial", sans-serif;
			}
			h2 {
			color:white; color:white; font-family:"arial", sans-serif;  
			}
