body {
		margin: 0;padding: 100px;width: 100% !important;
		}
		.contain {
		background-color: #000000;
		}
			p {
			color:white; font-family:"arial", sans-serif;
			}
			h1 {
			color:white; color:white; font-family:"arial", sans-serif;
			}
			h2 {
			color:white; color:white; font-family:"arial", sans-serif;  
			}
